body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  /*font-weight: 700;*/
  color: #ffffff;
  /*text-transform: uppercase;*/
  background-color: #ffffff;
  text-align: left;
}

html {box-sizing: border-box;}
,::before, *::after {box-sizing: inherit;}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-navigation,
.list-navigation-footer,
.list-offers,
.footer-social li,
.paggination-list li,
.list-firm li,
.list-power li,
.breadcrumbs li,
.list-transport {
  list-style: none;
}

.main-navigation a,
.user-navigation a,
.list-navigation-footer a,
.list-offers a {
  color: #ffffff;
}

/*.main-navigation a:hover,
.main-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}*/
.main-header {
  background-color: #f4f7f9;
}
.logo-header,
.logo-footer {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.order {
    background-color: #63a63e;
}

.header-headline {
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
}

.button-inter {
  font-size: 21px;
  color: #000000;
}

.button-reg {
  font-size: 21px;
  color: #000000;
}

.main-navigation {
  box-shadow: inset 0px -5px 0 0;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.adress-header {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.list-navigation {
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}
/*Подробнее о компании*/
.info-company {
  color: #000000;
  background-color: #ffffff
}

.info-company h2{
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.info-company p{
  font-size: 13px;
  line-height: 24px;
}

.list-transport {
  font-size: 18px;
  line-height: 20px;
}

.button-company {
  background-color: #ee3643;
}

.button-company a{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
/*Контакты*/
.contacts-down h2{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-down p{
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.form-write {
  background-color: #ee3643;
}

.form-write a{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.footer-up {
  background-color: #32425c;
}

.list-navigation-footer a{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.list-offers a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.list-navigation-footer a:hover,
.list-navigation-footer a:focus,
.list-offers a:hover,
.list-offers a:focus {
  text-decoration: underline;
}

.adress-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-down p{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.breadcrumbs a {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  text-align: left;
  color: #000000;
}

.page-title-block {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.filters {
    text-transform: uppercase;
}

.list-firm span,
.list-power span {
  font-weight: bold;
}

.main-footer {
  background-color: #293449;
}

.mail-developed,
.footer-developed {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.mail-developed a,
.footer-developed a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}
/*==========================Скрытые элементы=================================*/
.pop-up,
.big-map,
.block-menu,
.popular-products,
.popular-firms,
.service {
  display: none;
}
 /*==========================================================================*/

.page-title-block h1 {
  font-size: 30px;
  line-height:30px;
  color: #32425c;

}

.user-login p {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.button-user a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  list-style: none;
}

/* ==========================Оформление каталога==========================*/
.breadcrumbs{
  text-decoration: none;
}

.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.list-firm  {
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}

.list-firm li {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.list-power {
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}

.list-power li {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.catalog-item {
  font-weight: bold;
  border: 1px solid #e5e5e5;
}

.catalog-item h3{
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item a {
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-align: center;
}

.paggination-list li {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
}

.paggination-item-current {
  color: #ffffff
}

/*========================Стлили наведения и клика главноя страница============*/
.logo-header a:hover {
  background-color: #ca2c37;
}

.user-navigation a:hover {
  background-color: #212a3a;
}

.user-navigation .order:hover {
  background-color: #5fbb2d;
}

.user-login a:hover,
.user-reg a:hover {
  color: #ee3643;
}

.list-navigation a:hover {
  background-color: #293449;
}

.footer-social li:hover {
  background-color: #ee3643;
}

.list-navigation-footer a:hover,
.list-offers a:hover,
.developed a:hover {
  text-decoration: underline;
}

/*========================Стлили наведения и клика каталога=================*/

.button-user a:hover {
  color: #ee3643;
}

.paggination-list li:hover {
  border: 1px solid #bdc6ca;
}
 /*=================================Сеточные стили==========================*/

/*В шапке не могу выровнять блоки чтоб они шли друг за другом и тянулись
по ширине, когда задаешь ширину явно, начинают переносится
У поиска почему всегда белый фон и нет заливки? Через какое своейство задать?
Такая я же ерунда с заливкой по высоте, у всех блоков как и в основной
навигации*/

.main-header {
min-height: 320px;
}

 .container {
   width: 940px;
   margin: auto;
   display: flex;
 }

.header-up {
  width: auto;
  min-height: 42px;
  display: block;
  background-color: #293449;
}

.header-flexbox {
  width: 940px;
  display: flex;
  margin: auto;
}

.logo-header {
  width: 220px;
  max-height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left:
}

.user-navigation {
  display: flex;
  width: 720px;
  margin: auto;
  justify-content: space-between;
}

.button-user-header {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 18px;

}

.search {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 49px;
}

.bookmarks {
  width: 150px;
  display: flex;
  justify-content: center;
}

.basket {
  width: 150px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.order {
  width: 150px;
  max-height: 42px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 14px;
  padding-bottom: 13px;
  margin-left: 10px;
}

/*Шапка с инфой, телефон, адрес и кнопками входа и регистрации*/

.header-info {
  width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header-headline {
  width: 196px;
  height: 60px;
  display: flex;
  justify-content: center;
  padding: 0px;
  line-height: 23px;
  margin-top: 54px;
  margin-left: 52px;
}

.contacts-up {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.number {
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
  margin-bottom: 10px;
}

.adress-header {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.button-user {
  display: flex;
  margin-top: 46px;
  font-size: 21px;
  line-height: 21px;


}
.user-login {
  width: 121px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.user-reg {
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-left: 10px;
}


/*Меню навигации
Вроде получилось, как ты скинул настроил отступы, только нижний немного
по другому, единственно ссылка контакты при наведении справа заливка не до края
как и у ссылки главная, большой отступ слева остается.
Может я не правильно их выровнял?
*/

.main-navigation {
  width: 940px;
  height: 60px;
  margin: auto;
  display: block;
  }

.list-navigation {
  min-height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
}


/*Меню о компании и контакты
Разбил на 2 блока, как их поставить рядом, вроде объеденены в один блок и
у каждого свой контейнер.*/

.info-techno {
  display: flex;
  justify-content: space-between;
}

.info-company {
  display: flex;
  max-width: 519px;
  flex-direction: column;
  align-content: space-between;
  margin: 0;
  margin-top: 82px;
  margin-bottom: 86px;
  margin-right: 121px;
}

.info-company h2 {
  display: flex;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 36px;
  }

.text-info-company {
  display: flex;
  flex-direction: column;

  }

.text-info-company p {
  margin: 0;
  padding-bottom: 25px;
}

.list-transport {
  display: flex;
  flex-direction: column;
  margin: 0;
  }

.list-transport li {
  display: flex;
  padding-bottom: 23px;
  margin: 0;
}

  .button-company {
    display: flex;
    width: 220px;
    height: 38px;
    align-items: center;
    justify-content: center;
}

.contacts-down {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0;
  margin-top: 82px;
  margin-bottom: 86px;
}

.contacts-title {
  display: flex;
  flex-direction: column;
  width: 179px;
}

.contacts-title h2 {
  display: flex;
  margin: 0;
  margin-bottom: 36px;
  }

.contacts-title p {
  display: flex;
  margin: 0;
  margin-bottom: 36px;
  }

.map {
  display: flex;
}

.form-write {
  display: flex;
  width: 300px;
  height: 38px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

/*===============================Футтер=====================================*/

.footer-up {

  width: auto;
  display: block;
}

.footer-up-flex,
.footer-down-flex {
  width: 940px;
  display: flex;
  margin: auto;
}

.footer-up-left {
  min-width: 322px;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  margin-bottom: 53px;
}

.logo-footer {
  width: 220px;
  min-height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 32px;
}

.adress-footer {
  display: flex;
  flex-direction: column;
}

.adress-footer p {
  margin: 0;
}

.menu-footer {
  display: flex;
  flex-direction: column;
}

.list-navigation-footer {
  min-width: 550px;
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  margin-top: 39px;
  margin-bottom: 39px;
}

.list-offers {
  display: flex;
  justify-content: space-between;
  margin: 0;
}


.footer-down {
  width: auto;
  display: block;
}

.rights {
  max-width: 227px;
  display: flex;
  margin-top: 39px;
  margin-bottom: 35px;
}

.rights p{
  margin: 0;
}

.footer-social {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0;
  margin-left: 162px;
}

.footer-social ul {
  display: flex;
  margin: 0;
  padding-left: 0;
  align-items: center;
}

.developed {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-left: 122px;
}

.mail-developed {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer-developed {
  display: flex;
  flex-direction: column;
  margin: 0;
}
