
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  /*text-transform: uppercase;*/
  background-color: #ffffff;
  text-align: left;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-navigation,
.list-navigation-footer,
.list-offers,
.footer-social li,
.paggination-list li,
.list-firm li,
.list-power li,
.breadcrumbs li,
.list-transport,
.sorting-title li {
  list-style: none;
}

.main-navigation a,
.user-navigation a,
.list-navigation-footer a,
.list-offers a {
  color: #ffffff;
}

.button {
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  background-color: #f4f7f9;
}
.logo-header,
.logo-footer {
  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-headline {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  width: 197px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 53px;
}

.button-inter {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.button-inter {
  position: relative;
}

.button-inter::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -13px;
  width: 20px;
  height: 17px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.button-inter:hover::before {
  background-image: url("../img/login-hover.svg");
  opacity: 1;
}

.button-inter:active::before {
  background-image: url("../img/login.svg");
  opacity: 1;
}

.button-inter:hover,
.button-reg:hover {
  color: #ee3643;
}

.button-inter:active,
.button-reg:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-reg {
  font-size: 21px;
  color: #000000;
}

.main-navigation {
  -webkit-box-shadow: inset 0px -5px 0 0;
          box-shadow: inset 0px -5px 0 0;
  background-color: #32425c;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
          box-shadow: inset 0px -5px 0 0 #293449;
}

.list-navigation {
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin: 0 auto;
  margin-top: 38px;
}

.list-navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-navigation a {
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 31px;
  padding-right: 31px;
}

.block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-menu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.catalog-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 33px;
}

.materials,
.tools,
.equipment,
.sales,
.delivery-free {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  min-height: 123px;
  color: #ffffff;
  padding-left: 23px;
  padding-top: 1px;
  margin-bottom: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.materials h2,
.tools h2,
.equipment h2,
.sales h2,
.delivery-free h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 13px;
}

.materials a,
.tools a,
.equipment a,
.sales a,
.delivery-free a {
  width: 135px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 2px;

}

.button-cards:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-cards:active {
  background-color: rgba(0, 0, 0, 0.3);
}


.materials::before {
  content: "";
  position: absolute;
  background-image: url("../img/materials.svg");
  width:44px;
  height:65px;
  top: 27px;
  right: 43px;
}

.tools::before {
  content: "";
  position: absolute;
  background-image: url("../img/drill.svg");
  width:75px;
  height:61px;
  top: 30px;
  right: 28px;
}

.equipment::before {
  content: "";
  position: absolute;
  background-image: url("../img/equipment.svg");
  width:78px;
  height:62px;
  top: 30px;
  right: 28px;
}

.sales::before {
  content: "";
  position: absolute;
  background-image: url("../img/sales.svg");
  width:59px;
  height:72px;
  top: 25px;
  right: 46px;
}

.delivery-free::before {
  content: "";
  position: absolute;
  background-image: url("../img/delivery.svg");
  width:78px;
  height:63px;
  top: 31px;
  right: 30px;
}

.materials a {
  background-color: #e5ac40;
}

.tools a {
  background-color: #35a9cc;
}

.equipment a {
  background-color: #c682c2;
}

.sales a {
  background-color: #80c180;
}

.delivery-free a {
  background-color: #e5ac40;
}

.materials {
  background-color: #ffbf47;
  margin-right: 20px;
}

.tools {
  background-color: #3bbce3;
  margin-right: 20px;
}

.equipment {
  background-color: #dc91d8;
}

.slide {
  width: 620px;
  height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.sales {
  background-color: #8ed78f;
}

.delivery-free {
  background-color: #ffc047
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  content: "";
  width: 620px;
  height: 266px;
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  margin-right: 20px;
}

.button-back {
  position: absolute;
  width: 22px;
  height: 40px;
  background-image:  url("../img/left.svg");
  background-repeat: no-repeat;
  top: 113px;
  left: 25px;
  border: none;
  background-color: transparent;
}

.button-forward {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  background-image:  url("../img/right.svg");
  background-repeat: no-repeat;
  top: 113px;
  right: 20px;
  border: none;
  background-color: transparent;
}

.slider h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 22px;
  margin-bottom: 2px;
}

.slider span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 24px;
}

.button-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 195px;
  height: 38px;
  margin-left: 25px;
  margin-top: 121px;
}

.popular-products,
.popular-firms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular-products-title,
.popular-firms-title {
  width: 940px;
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px;
  padding-right: 24px;
  margin-bottom: 20px;
  color: #32425c;
  background-color: #f9f5f0;
}

.popular-products-title h2,
.popular-firms-title h2 {
  font-size: 30px;
  line-height: 30px;
}

.popular-firms-title h2{
  padding-top: 5px;
}

.popular-products-title a,
.popular-firms-title a {
  width: 253px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px;
}

.catalog-drill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all-firms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all-firms a {
  width: 220px;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.all-firms a:hover {
  width: 220px;
  height: 145px;
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.all-firms a:active {
  width: 220px;
  height: 145px;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.interskol img {
  margin-bottom: 10px;
}

.hitachi {
  margin-top: 3px;
  margin-left: 3px;
}

.lg {
   padding-right: 5px;
}

.metabo {
  padding-left: 4px;
}

.service {
  width: auto;
  background-color: #f4f7f9;
  margin-top: 63px;
}

.container-service {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  height: 522px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 398px;
  margin-top: 40px;
}

.service-title h2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 13px;
}

.service-title p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.block-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  font-size: 21px;
  line-height: 30px;
  margin-top: 57px;
}

.service-menu::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow-right.png");
  background-repeat: no-repeat;
  right: 0;
  top: -46px;
}

.button-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
  padding-left: 22px;
  height: 61px;
  background-color: #ffffff;
  color: #32425c;
  border: none;
  padding-top: 3px;
  padding-right: 20px;
}



.button-warranty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 22px;
  height: 61px;
  background-color: #32425c;
  color: #ffffff;
  border: none;
}

.button-credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 22px;
  height: 61px;
  background-color: #32425c;
  color: #ffffff;
  border: none;
}

.info-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 275px;
  height: 147px;
  margin-left: 80px;
  margin-top: 24px;
}

.info-delivery::before {
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
  bottom: 0;
  right: 1px;
}

.info-warranty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 379px;
  height: 172px;
  margin-left: 80px;
  margin-top: 24px;
}

.info-warranty::before {
  content: "";
  position: absolute;
  width: 398px;
  height: 283px;
  background-image: url("../img/warranty.png");
  bottom: 0;
  right: 1px;
}

.info-credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 279px;
  height: 100px;
  margin-left: 80px;
  margin-top: 24px;
}

.info-credit::before {
  content: "";
  position: absolute;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
  bottom: 0;
  right: 1px;
}


.info-delivery h2,
.info-warranty h2,
.info-credit h2 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin-bottom: 13px;
}

.info-delivery p,
.info-warranty p,
.info-credit p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
}

.info-warranty,
.info-credit {
  display: none;
}

/*Подробнее о компании*/

.info-company {
  color: #000000;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 519px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 86px;
  margin-right: 121px;
}

.info-company h2{
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 26px;
}

.info-company p {
  font-size: 13px;
  line-height: 24px;
}

.text-info-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-info-company p {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding-bottom: 24px;
}

.text-info-company p:last-child {
  padding-bottom: 21px;
  width: 400px;
}

.list-transport {
  font-size: 18px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin: 0;
}

.list-transport li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  margin: 0;
}

.list-transport li::before {
  content: "";
  display: block;
  background-color: #ee3643;
  width:25px;
  height:2px;
  margin-top: 9px;
  margin-right: 10px;
}

.list-transport li:last-of-type {
  padding-bottom: 35px;
}

.button-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ee3643;
  padding-top: 2px;
  border-radius: 3px;
}

.button-company a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

/*Контакты*/
.contacts-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 86px;
}

.contacts-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 179px;
}

.contacts-title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 0;
  }

.contacts-title p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 32px;
  }

.form-write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ee3643;
  border-radius: 3px;
}

.form-write a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 4px;
  color: #ffffff;
}

.footer-up {
  background-color: #32425c;
}

.list-navigation-footer a{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.list-offers a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.list-navigation-footer a:hover,
.list-navigation-footer a:focus,
.list-offers a:hover,
.list-offers a:focus {
  text-decoration: underline;
}

.adress-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-down p{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.page-title-block {
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
}

.list-firm::before {
  content: "";
  position: relative;
  display: block;
  background-color: #e5e5e5;
  width: 220px;
  height: 1px;
  top: -15px;
}

.list-firm::after {
  content: "";
  position: relative;
  display: block;
  background-color: #e5e5e5;
  width: 220px;
  height: 1px;
  bottom: 9px;
}

.list-firm span,
.list-power span {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.list-firm li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 20px;
}

.list-firm  ul {
  margin-top: 12px;
  padding-left: 0;
}

.custom-checkbox + label {
  position: relative;
  padding-left: 34px;
}

.custom-checkbox + label::before {
content:"";
position:absolute;
width:27px;
height:23px;
background-image: url(../img/checkbox-off.svg);
background-repeat: no-repeat;
left:0;
top: 0;
}

.custom-checkbox:checked + label::after {
  content:"";
  position:absolute;
  width:27px;
  height:23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
}

.custom-checkbox:hover + label::before,
.custom-checkbox:focus + label::before {
  content:"";
  position:absolute;
  width:27px;
  height:23px;
  background-image: url(../img/checkbox-off-hover.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
}

.custom-checkbox:checked:hover + label::before,
.custom-checkbox:checked:focus + label::before {
  content:"";
  position:absolute;
  width:27px;
  height:23px;
  background-image: url(../img/checkbox-on-hover.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
}

.custom-checkbox:disabled + label::before {
  content:"";
  position:absolute;
  width:27px;
  height:23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
  opacity: 0.3;
}

.custom-checkbox:checked:disabled + label::after {
  content:"";
  position:absolute;
  width:27px;
  height:23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
  opacity: 0.3;
}

.list-power {
  padding-top: 8px;
}

.list-power li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 20px;
}

.list-power ul {
  padding-left: 0;
  margin-bottom: 58px;
}

.custom-radio + label {
  position: relative;
  padding-left: 34px;
}

.custom-radio + label::before {
content:"";
position:absolute;
width:25px;
height:25px;
background-image: url(../img/radio-off.svg);
background-repeat: no-repeat;
left:0;
top: 0;
}

.custom-radio:checked + label::after {
  content:"";
  position:absolute;
  width:25px;
  height:25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
}

.custom-radio:hover + label::before,
.custom-radio:focus + label::before {
  content:"";
  position:absolute;
  width:25px;
  height:25px;
  background-image: url(../img/radio-off-hover.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
}

.custom-radio:checked:hover + label::before,
.custom-radio:checked:focus + label::before {
  content:"";
  position:absolute;
  width:25px;
  height:25px;
  background-image: url(../img/radio-on-hover.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
}

.custom-radio:disabled + label::before {
  content:"";
  position:absolute;
  width:25px;
  height:25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
  opacity: 0.3;
}

.custom-radio:checked:disabled + label::after {
  content:"";
  position:absolute;
  width:25px;
  height:25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  left:0;
  top: 0;
  opacity: 0.3;
}

.btn-show {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 140px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.main-footer {
  background-color: #293449;
}

.mail-developed,
.footer-developed {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.mail-developed a,
.footer-developed a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.page-title-block h1 {
  font-size: 30px;
  line-height:30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: normal;
  margin: 0;
  color: #32425c;
}

.user-login p,
.user-login-inner p {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.button-user a {
  font-size: 21px;
  line-height: 21px;
  color: #000;
}

.button-user-inner {
  width: 210px;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  margin-left: 17px;
}

.button-user-inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #32425c;
  text-decoration: underline;
}

.button-user-inner a:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ee3643;
  text-decoration: underline;
}

.button-user-inner a:active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(50, 66, 92, 0.3);
  text-decoration: underline;
}


/*========================Стлили наведения и клика главноя страница============*/
.list-navigation a:hover {
  background-color: #293449;
}

.list-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.social-button-vk:hover,
.social-button-fb:hover,
.social-button-inst:hover {
  background-color: #ee3643;
}

.list-navigation-footer a:hover,
.list-offers a:hover,
.developed a:hover {
  text-decoration: underline;
}

.list-navigation-footer a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.list-offers a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.developed a:active {
  text-decoration: none;
  color: #ee3643;
}

 /*=================================Сеточные стили==========================*/
.main-header {
min-height: 320px;
}

 .container {
   width: auto;
   margin: auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
 }

.header-up {
  width: auto;
  max-height: 42px;
  display: block;
  background-color: #293449;
}

.header-flexbox {
  width: 940px;
  max-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.logo-header {
  width: 220px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  }

.logo-header:hover {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-user-header {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 17px;
  line-height: 18px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.search,
.button-user-header .bookmarks,
.button-user-header .basket {
  position: relative;
}

.search-color {
  position: relative;
  width: 270px;
  min-height: 42px;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  padding-left: 49px;
  background-position: 17px 12px;
  border: 0;
  color: #ffffff;
}

.search-color:-ms-input-placeholder {
   color:#ffffff;
}

.search-color::-webkit-input-placeholder {
   color:#ffffff;
}

.search-color:-moz-placeholder {
   color:#ffffff;
}

/* firefox 19+ */
.search-color::-moz-placeholder {
   color:#ffffff;
}

.search-color:hover {
  background-image: url("../img/search-hover.svg");
  background-color:#212a3a;
}

.search-color:focus {
  background-color: #ffffff;
  background-image: url("../img/search-act.svg");
  color: #000000;
}

.bookmarks {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 15px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 14px;
  height: 16px;
  background-image: url("../img/bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 18px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket:hover,
.bookmarks:hover {
  background-color: #212a3a;
}

.basket:hover::before,
.bookmarks:hover::before {
  opacity: 1;
}

.basket:active,
.bookmarks:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;

}

.basket:active::before,
.bookmarks:active::before {
  opacity: 0.5;
}

.order {
  min-width: 150px;
  max-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #63a63e;
  padding-top: 12px;
  padding-bottom: 11px;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}
/*Шапка с инфой, телефон, адрес и кнопками входа и регистрации*/
.header-info {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-up {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-up .number {
  position: relative;
}

.number {
  width: 270px;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 47px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.adress-header {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 19px;
  height: 19px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.button-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 46px;
  font-size: 21px;
  line-height: 21px;

}
.user-login {
  width: 121px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.user-reg {
  width: 150px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin-left: 10px;
}
/*Меню навигации*/

.main-navigation {
  width: 940px;
  min-height: 60px;
  margin: 0 auto;
  display: block;
  }

/*==================Меню о компании и контакты===================================*/

.info-techno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 38px;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*===============================Футтер=====================================*/

.footer-up {
  width: auto;
  display: block;
}

.footer-up-flex,
.footer-down-flex {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.footer-up-left {
  min-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 32px;
  margin-bottom: 50px;
}

.logo-footer {
  width: 220px;
  min-height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 26px;
}

.adress-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress-footer p {
  margin: 0;
  margin-left: 2px;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-navigation-footer {
  min-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 33px;
  margin-left: 20px;
  padding-left: 0;

}

.list-offers {
  min-width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;

}

.footer-down {
  width: auto;
  display: block;
}

.rights {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  margin-bottom: 35px;
}

.rights p{
  margin: 0;
}

.footer-social {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  margin-left: 140px;
}

.footer-social ul {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-button-vk,
.social-button-fb,
.social-button-inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 41px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50px;
  margin-right: 4px;
}

.footer-social .social-button-vk,
.footer-social .social-button-fb,
.footer-social .social-button-inst {
  position: relative;
}

.social-button-vk::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  width: 26px;
  height: 15px;
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.social-button-fb::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 12px;
  height: 22px;
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.social-button-inst::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 10px;
  width: 21px;
  height: 21px;
  background-image: url("../img/insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.developed {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 85px;
}

.mail-developed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-left: 15px;
  padding-top: 1px;

}

.footer-developed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-top: 1px;
}


/*==========================Внутреняя страница==========================*/
.menu-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
  margin-left: -17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-login-inner {
  width: 299px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.name-user {
  color: #000000;
}

.user-login-inner p {
  margin-top: 14px;
  margin-bottom: 11px;
  margin-left: 47px;
}

.user-login-inner {
  position: relative;
}

.user-login-inner::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-login-inner::before:hover {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/user-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logout::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  width: 20px;
  height: 17px;
  background-image: url("../img/logout.svg");
  background-repeat: no-repeat;
}

.logout::after:hover {
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  width: 20px;
  height: 17px;
  background-image: url("../img/logout-hover.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-nav {
  width: 940px;
  height: 60px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.breadcrumbs {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.breadcrumbs li {
  padding-top: 5px;
}

.breadcrumbs li:nth-child(2n) {
  padding-right: 1px ;
}

.breadcrumbs li:nth-child(3n) {
  padding-right: 8px;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.breadcrumbs .main,
.breadcrumbs .catalog,
.breadcrumbs .tool {
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -2px;
  width: 14px;
  height: 12px;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.catalog {
  padding-left: 20px;
}

.catalog::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -5px;
  width: 8px;
  height: 12px;
  background-image: url("../img/right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.tool::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -18px;
  width: 8px;
  height: 12px;
  background-image: url("../img/right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.tool {
  padding-left: 7px;
}

.tool::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url("../img/right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.page-title-block {
  width: 940px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-title-block h1 {
  margin-left: 28px;
}

.filter-sorting {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 940px;
margin: auto;
margin-top: 20px;
}

.filter-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 38px;
  margin-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.sorting-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.sorting-title span {
  padding-left: 20px;
}

.sorting {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 78px;
}

.sorting-price {
  padding-left: 8px;
}

.sorting-type {
  padding-left: 45px;
}

.sorting-function {
  padding-left: 45px;
}

.sorting-up {
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up.svg");
  background-repeat: no-repeat;
  top: 13px;
  right: 49px;
}

.sorting-up-active {
  background-image: url("../img/icon-up-active.svg");
}

.sorting-down {
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down.svg");
  background-repeat: no-repeat;
  top: 13px;
  right: 17px;
}

.sorting-up:hover {
  background-image: url("../img/icon-up-hover.svg");
}

.sorting-down:hover {
  background-image: url("../img/icon-down-hover.svg");
}

.sorting-up:active {
  background-image: url("../img/icon-up-active.svg");
}

.sorting-down:active {
  background-image: url("../img/icon-down-active.svg");
}



.sorting-price a,
.sorting-type a,
.sorting-function a {
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dashed #ee3643;
}

.sorting-price-active a {
  color: #ee3643;
  border: none;
}

.sorting-price a:hover,
.sorting-type a:hover,
.sorting-function a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-price a:active,
.sorting-type a:active,
.sorting-function a:active {
  color: #ee3643;
  border: 0;
}

.main-item {
  margin: auto;
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}

.price-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.price-filter span {
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.scale {
  position: relative;
}

.range-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
  margin-top: 13px;
  border-radius: 3px;
}

.scale::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  bottom: 39px;
  left: 20px;
}

.scale::after {
  position: absolute;
  content: "";
  width: 152px;
  height: 2px;
  background-color: #00ca74;
  bottom: 39px;
  left: 20px;
}

.toggle {
  position: relative;
  border: none;
  background: transparent;
}

.toggle-min {
  position: absolute;
  width: 20px;
  height: 22px;
  background-image: url("../img/toggle.svg");
  background-repeat: no-repeat;
  top: 73px;
  left: 20px;
}

.toggle-max {
  position: absolute;
  width: 20px;
  height: 22px;
  background-image: url("../img/toggle.svg");
  background-repeat: no-repeat;
  top: 73px;
  left: 160px;
}

.price-control {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-top: 9px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-bottom: 41px;
}

.price-control span {
  margin-left: 10px;
}

.price-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95px;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f7f3ec;
  border: 0;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.price-min:-ms-input-placeholder {
   color:#000000;
}

.price-min::-webkit-input-placeholder {
   color:#000000;
}

.price-min:-moz-placeholder {
   color:#000000;
}

/* firefox 19+ */
.price-min::-moz-placeholder {
   color:#000000;
}

.price-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95px;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f7f3ec;
  border: 0;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 11px;
}

.price-max:-ms-input-placeholder {
   color:#000000;
}

.price-max::-webkit-input-placeholder {
   color:#000000;
}

.price-max:-moz-placeholder {
   color:#000000;
}

/* firefox 19+ */
.price-max::-moz-placeholder {
   color:#000000;
}


/*============================Каталог=====================================*/

.catalog-items {
  max-width: 700px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item {
  font-family: "PT Sans", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 218px;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 21px;
  border: 1px solid #e5e5e5;
  color: #000000;
}

.catalog-item .actions {
  position: absolute;
  width: 216px;
  height: 158px;
  padding-left: 39px;
  padding-top: 43px;
  padding-bottom: 42px;
  padding-left: 0;
  background-color: #ffffff;
  z-index: 10;
}

.catalog-item-new {
  position: relative;
}

.catalog-item-new::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right:0;
  width: 60px;
  height: 59px;
  z-index: 1000;
  background-image: url("../img/new-flag.png");
}

.actions .buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 135px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 12px 10px;
  background-color: #63a63e;
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
          box-shadow: inset 0px -3px 0 0 #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 135px;
  height: 38px;
  margin: 9px auto;
  margin-left: 39px;
  padding: 7px 0;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius:3px;
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .buy {
  position: relative;
}

.actions .buy::before {
  content: "";
  position: absolute;
  left: 14px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;

}

.actions .buy:hover {
  background-color: #5fbb2d;
}

.actions .buy:hover::before {
  background-image: url("../img/cart-hover.svg");
  background-repeat: no-repeat;
}


.actions .buy:active {
  background-color: #518534;
}


.actions .bookmark:hover {
    border-color: #32425c;
}

.actions .bookmark:active {
    opacity: 0.3;
}

.catalog-item .image {
  width: 216px;
  height: 168px;
}

.image img {
  max-width: 100%;
}

.catalog-item .title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 18px;
  line-height: 20px;
  padding: 0 25px;
  padding-top: 12px;
}

.catalog-item .discount {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  padding-top: 12px;
  padding-left: 5px;
}

.catalog-item .price {
  position: relative;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 17px;
  padding: 10px 30px;
  padding-left: 38px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}
/*=============================================================================*/
.paggination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 33px;
}

.paggination-list li {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.paggination-item-current {
  background: #ee3643;
}

.paggination-list a {
  color: #000000;
}

.paggination-item-current a {
  color: #ffffff;
}

.paggination-list li:hover {
  border: 1px solid #bdc6ca;
}

.paggination-list li:active {
  border: 1px solid #ee3643;
}

.paggination-list li:last-of-type {
  text-transform: uppercase;
  width: 140px;
  height: 38px;
}

.info-perforator {
  width: auto;
  height: 261px;
  background-color: #f4f7f9;
}
.title-perforator {
  width: 940px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    margin-top: 26px;
}

.title-perforator h2 {
  font-size: 30px;
  line-height: 30px;
  padding-top: 40px;
  margin-bottom: 13px;
}

.title-perforator p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}




/*=======================Модальные окна ======================================*/
.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-answer {
  width: 620px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.modal-answer::before {
  content: "";
  position: absolute;
  width: 620px;
  height: 7px;
  background-color: #ee3643;
}

.modal-close {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/close.svg");
  background-color: transparent;
  border: 0;
  top: 16px;
  right: 7px;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.form-answer {
  width: 460px;
  margin: 0 80px;
}

.write-us label {
  font-size: 18px;
  line-height: 18px;
}

.write-us input {
  font-size: 13px;
  line-height: 18px;
  padding-left: 16px;
  border: solid 2px #dee3e4;
  border-radius: 3px;
}

.write-us input:focus {
  border: solid 2px #ee3643;
}

.info-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  margin-bottom: 22px;
}

.info-user p {
  margin: 0;
}

.user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 38px;
  margin-top: 13px;
  margin-right: 20px;
}

.user-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 38px;
  margin-top: 13px;
}

.text-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 37px;
  margin-top: 0;
}

.text-letter input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  margin-top: 16px;
  padding-top: 13px;
  padding-bottom: 88px;
}

.footer-form-answer {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f4f4;
  margin-left: -80px;
}

.button-spend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 460px;
  background-color: #ee3643;
  margin: 37px 80px;
  padding: 14px 198px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.modal-map {
  width: 940px;
  height: 446px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.modal-basket {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 620px;
  height: 282px;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2000;
}

.modal-basket::before {
  content: "";
  position: absolute;
  width: 620px;
  height: 7px;
  background-color: #ee3643;
}

.this-ok {
  width: 620px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  line-height: 30px;
  padding: 68px 0;
  padding-left: 179px;
  padding-right: 125px;
}

.this-ok::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: 61px;
  top: 48px;
  background-image: url("../img/form-1.svg");
  background-repeat: no-repeat;
}

.button-modal-basket {
  width: 620px;
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 18px;
  background-color: #f1f1f1;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 38px;
  margin-top: 43px;
  margin-left: 80px;
  margin-right: 20px;
  padding-left: 59px;
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px;
}

.continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 38px;
  margin-top: 43px;
  padding-left: 44px;
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
}


.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
