body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: left;
}

a {
  text-decoration: none;
}

header {
  background-color: #f4f7f9;
}

.main-navigation a,
.user-navigation a,
.list-navigation-footer a,
.list-offers a {
  color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}


.logo-header {
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-up-cap {
  font-size: 17px;
  line-height: 18px;
  background-color: #32425c;
}

.user-navigation {
    font-size: 17px;

}

.order {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}

.header-down p {
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
}

.contacts .number {
  font-size: 21px;
  color: #ee3643;
}

.adress-header {
  font-size: 14px;
  text-align: center;
  color: #32425c;
}

.button-inter {
  font-size: 21px;
  color: #000000;
}

.button-reg {
  font-size: 21px;
  color: #000000;
}

.button-order {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.main-navigation {
  width: 940px;
  height: 60px;
  box-shadow: inset 0px -5px 0 0 var(--dark);
  background-color: #32425c;
}

.list-navigation {
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}

.info-company {
  background-color: #ffffff
}

.info-company h2{
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.info-company p{
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.list-transport {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.button-company {
  background-color: #ee3643;
}

.button-company a{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.contacts h2{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.form-write {
  background-color: #ee3643;
}

.form-write a{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.footer-up {
  background-color: #32425c;
}

.list-navigation-footer a{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.list-offers a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.list-navigation-footer a:hover,
.list-navigation-footer a:focus,
.list-offers a:hover,
.list-offers a:focus {
  text-decoration: underline;
}

.adress-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-down p{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: PTSans;
  font-size: 13px;
  text-align: left;
  color: #000000;
}

.page-title-block {
  background-color: #f2f6f8;
}

.main-footer {
  background-color: #293449;
}

.mail-developed,
.footer-developed {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.mail-developed a,
.footer-developed a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.pop-up,
.big-map,
.block-menu,
.popular-products,
.popular-firms,
.service {
  display: none;
}
